<footer class="footer-wrapper">
    <div class="footer-top">
        <h2>Boost your links today</h2>
        <button class="btn btn-primary">Get started</button>
    </div>
    <div class="footer">
        <div class="row justify-content-between">
            <div class="col-lg-4 left-side">
                <img src="assets/logo.svg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3">
                        <nav class="footer-links">
                            <a href="" class="nav-link title">Features</a>
                            <a href="" class="nav-link">Link Shortening</a>
                            <a href="" class="nav-link">Branded Links</a>
                            <a href="" class="nav-link">Analytics</a>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <nav class="footer-links">
                            <a href="" class="nav-link title">Resources</a>
                            <a href="" class="nav-link">Blog</a>
                            <a href="" class="nav-link">Developpers</a>
                            <a href="" class="nav-link">Support</a>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <nav class="footer-links">
                            <a href="" class="nav-link title">Company</a>
                            <a href="" class="nav-link">About</a>
                            <a href="" class="nav-link">Our Team</a>
                            <a href="" class="nav-link">Careers</a>
                            <a href="" class="nav-link">Contact</a>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <nav class="footer-links-social">
                            <a href="" class="nav-link "><img src="assets/icon-facebook.svg" class="img-fluid" alt=""></a>
                            <a href="" class="nav-link "><img src="assets/icon-twitter.svg" class="img-fluid" alt=""></a>
                            <a href="" class="nav-link "><img src="assets/icon-pinterest.svg" class="img-fluid" alt=""></a>
                            <a href="" class="nav-link "><img src="assets/icon-instagram.svg" class="img-fluid" alt=""></a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
