.navbar .nav-item .nav-link{
    font-weight: 700;
    font-size: 18px;
}
.navbar .nav-item .nav-link{
    font-weight: 700;
    font-size: 18px;
}

.navbar .nav-item .nav-link:hover{
    color: #00a3b3;
}